* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #363531;
  color: white;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.background {
  background-color: #363531;
  padding-top: 2em;
}
html {
  scroll-behavior: smooth;
}

/* Header and nav bar */
header {
  margin: 1em 1em;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  display: flex;
}
header h1 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding: 0.7em;
  z-index: -1;
}
nav {
  position: relative;
  left: 22%;
  margin: 1em 1em;
  padding: 0.7em;
  text-align: center;
  z-index: 10;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 40px 0 0;
  opacity: 0.4;
  overflow: hidden;
  padding: 0.7em;
  transition: all 0.4s ease;
  text-align: center;
}

nav ul li:hover {
  opacity: 0.7;
  background-color: #F8E3EC;
  color: black;
  text-align: center;
}

nav ul li.active {
  opacity: 1;
  background-color: #F8E3EC;
  color: black;
  padding: 0.7em;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-size: 14px;
}
.topnav {
  overflow: hidden;
  position: relative;
  display: none;
  z-index: 10;
}
/* Style the hamburger menu */
.topnav a.icon {
  display: none;
  position: absolute;
  right: 2em;
  top: 0.7em;
}



.blog_type_h1 {
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 4em;
  position: relative;
  padding-top: 2em;
  padding-right: auto;
}
.blog_type_h1_page {
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 4em;
  position: relative;
  padding-top: .01em;
  padding-bottom: .3em;
  padding-right: auto;
}
.blog_welcome_text {
  text-align: center;
  padding-bottom: 3em;
  padding-right: auto;
}
.blog_welcome_text {
  text-align: center;
  padding-bottom: 7.5em;
  padding-right: auto;
}
.welcome_text_terms {
  text-align: center;
  padding-right: 4em;
}
.welcome_text_h2 {
  text-align: center;
  padding-bottom: 4em;
  padding-right: 4em;
}
.head_text {
  margin: 0.1em 1em;
  text-decoration: underline;
  padding-bottom: 0.3em;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  display: none;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 16px;
  display: flex;
}
@media only screen and (max-width: 1100px) {
  .blog_img_header {
    margin: -20em 1em;
    width: 95%;
    height: 35em;
    opacity: 0.2;
    background-color: #151515;
  }
  nav {
    position: relative;
    left: 10%;
    margin: 1em 1em;
    padding-bottom: 25px;
    text-align: center;
    z-index: 10;
  }
  /* Style the hamburger menu */
  .topnav a.icon {
    display: none;
    position: absolute;
    right: 2em;
    top: 0.7em;
  }
  /* Style navigation menu links */
  .topnav a {
    color: black;
    display: none;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
  }
}
@media only screen and (max-width: 1000px) {
  .blog_img_header {
    margin: -20em 1em;
    width: 100%;
    height: 35em;
    opacity: 0.2;
    background-color: #151515;
  }
  nav {
    position: relative;
    left: 5%;
    margin: 1em 1em;
    padding-bottom: 25px;
    text-align: center;
    z-index: 10;
  }
  .topnav {
    overflow: hidden;

    position: relative;
    width: 50em;
    z-index: 100;
  }
  /* Style the hamburger menu */
  .topnav a.icon {
    display: none;
    position: absolute;
    right: 2em;
    top: 0.7em;
  }
  /* Style navigation menu links */
  .topnav a {
    color: black;
    display: none;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
  }
}
@media only screen and (min-width: 700px) {
  .blog_img_header {
    margin: -15em 1.5em;
    width: 100%;
    height: 35em;
    opacity: 0.2;
    background-color: #151515;
  }
  .topnav {
    overflow: hidden;

    position: relative;
    width: 50em;
    z-index: 100;
  }
  /* Style navigation menu links */
  .topnav a {
    color: black;
    display: none;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
  }
  /* Style the hamburger menu */
  .topnav a.icon {
    display: none;
    position: absolute;
    right: 2em;
    top: 0.7em;
  }
}
@media only screen and (max-width: 700px) {
  header {
    margin: 0.7em 0.7em;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    z-index: -100;
  }

  nav {
    display: none;
  }
  .blog_img_header {
    margin: -20em;
    width: 50%;
    right: 50em;
    height: 35em;
    opacity: 0.2;
    background-color: #151515;
  }
  .blog_type_h1 {
    display: grid;
    place-content: center;
    text-align: center;
    font-size: 2.5em;
    position: relative;
    padding-top: 0.05em;
    padding-right: auto;
  }
  .blog_welcome_text {
    text-align: center;
    padding-bottom: 1em;
    padding-right: auto;
  }
  .header_h1 {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding: auto;
    font-size: 1.7em;
  }
  .about_text {
    margin: 0.3em 0.1em;
    font-size: 0.3em;
  }
  .about_text_p {
    margin: none;
    font-size: 0.4em;
    padding-bottom: 2em;
  }
  /* Style the navigation menu */
  .topnav {
    width: 100%;
    margin: 0;
    display: block;
    position: relative;
    z-index: 100;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    width: 20em;
  }
  .topnav .mobile_nav {
    margin-top: 0;
    width: 30em;
    margin-left: 1em;
    margin-top: 5em;
  }
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 14px 20px;

    text-decoration: none;
    font-size: 16px;
    display: flex;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    margin-right: -2em;
    margin-top: 0.7em;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #F8E3EC;
    color: black;
    z-index: 100;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #F8E3EC;
    color: black;
  }
}
.about_text {
  margin: 0.5em 0.5em;
  font-size: 2.5em;
}

.about_text_p {
  margin-left: 2em;
  font-size: 1.3em;
  margin-top: -25%;
  padding-bottom: 2em;
}
.hobbies_about_text_p {
  margin-left: 2em;
  font-size: 1.3em;
  padding-bottom: 2em;
}


.blog_text_p {
  margin: 0.2em 2em;
  font-size: 1.3em;
  padding-bottom: 2em;
}
.blog_text_h1 {
  margin: 0.1em 1em;
  font-size: 2.5em;
  padding-bottom: 2em;
}
.terms_text_p {
  margin: 0.2em 1em;
  font-size: 1.1em;
  padding-bottom: 2em;
}
.terms_text_p a {
  color: rgb(226, 111, 241);
}



/* 404 page text*/
.type_h1_404 {
  display: grid;
  place-content: center;
  text-align: center;
  font-family: "DM Mono", monospace;
  font-size: 4em;
  position: relative;
  padding-top: 2em;
  padding-right: 2em;
}
.type_h1_404::before,
.type_h1_404::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.welcome_text_404 {
  text-align: center;
  padding-bottom: 4em;
  padding-right: auto;
}

                                         /*----------button code----------*/

.link_button {
  background-color: #333;
  border: 0.2em;
  color: white;
  padding: 0.3em 2em;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 0.7em;
  right: -5em;
  margin-bottom: 10px;
  margin-left: 0.2em;
  margin-right: 0.2em;

  border-radius: 5px;
}
.link_button:hover {
  cursor: pointer;
  background-color: #F8E3EC;
  color: black;
  box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.24),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);
}



                                         /*----------custom scrollbar----------*/                     

/* scrollbar width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F8E3EC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFEBBE;
}



                                         /*----------image code----------*/

.me{
  width: 30%;
  margin-left: 65%;
  margin-top: -8%;
  padding-bottom: 2em;
}
@media screen and (max-width: 1826px){
  .me{
    width: 30%;
    margin-left: 68%;
    margin-top: -8%;
    padding-bottom: 2em;
  }
}
@media screen and (max-width: 700px){
  .me{
    width: 50%;
    margin-left: 65%;
    margin-top: -10%;
    padding-bottom: 2em;
    opacity: 0;
  }
}
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  opacity: 50%;
  z-index: -10;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}
.background {
  background-color: #151515;
}
.projects_img{
  width: 100%;
  margin-top: 0;
}

.about_text_p {
  margin-left: 2em;
  font-size: 1.3em;
  margin-top: -25%;
  padding-bottom: 2em;
}
.hobbies_about_text_p {
  margin-left: 2em;
  font-size: 1.3em;
  padding-bottom: 2em;
}
@media screen and (max-width:1024px){
  .about_text_p {
    margin-left: 1em;
    font-size: 1em;
    margin-top: -30%;
    padding-bottom: 2em;
    
  }
  .hobbies_about_text_p {
    margin-left: 2em;
    font-size: 1em;
    padding-bottom: 2em;
  }
  
}
@media screen and (max-width:700px){
  .about_text_p {
    margin-left: 1em;
    font-size: 1em;
    margin-top: -50%;
    padding-bottom: 2em;
    
  }
  .hobbies_about_text_p {
    margin-left: 2em;
    font-size: 1em;
    padding-bottom: 2em;
  }
  
}





                                         /*----------footer----------*/
footer {
  background-color: #0f0f0f;
  height: auto;
  padding-left: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: auto;
  width: 100%;
  margin-left: 0;
  bottom: 60px;
  color: white;
}
footer h1 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: center;
}


.video {
  display: block; 
  margin: auto; 
  max-width: 95%;

}
.head_text_video {
  text-decoration: underline;
  display: block; 
  margin: auto; 
  text-align: center;
  padding-bottom: 0.3em;
}
